body{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

table{
    width: 600px;
    border-collapse: separate; /* Collapse -> Borda fica uma colada na outra */
}

th, td{

    padding: 7px;
}

th{
    text-transform: uppercase; /* Letras maiúsculas */
    border-top: 1px solid #999;
    border-bottom: 1px solid #111;
    text-align: left;
    font-size: 90%;
    letter-spacing: 0.1em; /* Aumentando espaçamento entre as letras */
}

tr.alternado{
    background-color: #efefef;
}

tr:hover{
    background-color: #c3e6e5;
}

.numero{
    text-align: right;
}